<div class="row mt-5">
    <div class="col-md-6 m-auto">

        <div class="card text-center" style="width: 20rem;">
            <div class="card-body ">
                <h3>Create an account or login</h3>
              <a href="/users/register" class="btn btn-primary btn-block mt-3 mb-3">Register</a>
              <a href="/users/login" class="btn btn-secondary btn-block mb-3">Login</a>
            </div>
          </div>
    </div>
</div>

